@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  overflow-x: hidden;
}

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
  url('/banner.png') no-repeat center center;
  background-size: cover;
  height: 100%;
  
}

.sub{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
  url('/sub.png') no-repeat center center;
  background-size: cover;
  height: 100%;
  
}
